
@using MealMonkey.Models;

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>


<table class="table">
    <tr>
        <th>
            OrderNo
        </th>
        <th>
            Quantity
        </th>
        <th>
            Items
        </th>
        <th>
            Status
        </th>
        <th>
            Amount
        </th>
    </tr>

    @foreach (var items in Model)
    {
<tr>
    <td>@items.OrderNo</td>
    <td>@items.Quantity</td>
    <td>@items.Count</td>
    <td>@items.Status</td>
    <td>₹ @items.PaymentId</td>

    <td>
        @*@Html.ActionLink("Edit", "EditCart", new { id = item.CartId }) |
            @Html.ActionLink("Details", "CartDetails", new { id = item.CartId }) |*@
        @Html.ActionLink("Details", "OrderDetails", new { id = items.OrderNo })
    </td>

</tr>

    }
</table>
